[submodule "_assets/css/tufte-css"]
	path = _assets/css/tufte-css
	url = https://github.com/edwardtufte/tufte-css
[submodule "_assets/css/tufte-pandoc-css"]
	path = _assets/css/tufte-pandoc-css
	url = https://github.com/jez/tufte-pandoc-css
