[submodule "_assets/css/tufte-css"]
	path = _assets/css/tufte-css
	url = git@github.com:valrus/tufte-css.git
[submodule "_assets/css/tufte-pandoc-css"]
	path = _assets/css/tufte-pandoc-css
	url = git@github.com:valrus/tufte-pandoc-css.git
