<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    {% block head %}
    <link rel="icon" type="image/png" href="{{ get_asset('images/favicon.png') }}" />
    <link rel="shortcut icon" type="image/png" href="{{ get_asset('images/favicon.png') }}" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ get_asset('css/reset.css') }}" />
    {% endblock head %}
  </head>

  <body>
    <div id="img_logo" style="display: none;"><img src="{{ get_asset('images/title-with-bg.png') }}" /></div>
    {% block body %}
    {% endblock body %}
  </body>
</html>
