{% extends 'base.html' %}

{% block head %}
<title>small clever rooms</title>
{{ super() }}
<link href='https://fonts.googleapis.com/css?family=Bitter:400,400italic,700' rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=Rosario:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic,700,700italic' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="{{ get_asset('css/typography.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ get_asset('css/pygments.css') }}" />
{% endblock head %}

{% block body %}
<div id="return"><a href="{% block returnlink %}{{ get_url('/study/') }}{% endblock %}"><img src="{{ get_asset('images/title-back.png') }}" /></a></div>
<div id="column">
    <div id="main">
        <header>
            <h1>{% block title %}{% endblock %}</h1>
            <p class="subhead">{% block subtitle %}{% endblock %}</p>
        </header>
        {% block content %}
        {% endblock content %}
    </div>
    <div id="footer">
        {% block footer %}
        {% endblock footer %}
        <div id="colophon">
            {% block colophon %}
            <p>Want to email me? My email is my first initial and last name at gmail.com. I'm also on <a href="https://twitter.com/valrus">Twitter</a> as @valrus (mostly defunct) and <a href="https://joinmastodon.org/">Mastodon</a> as <pre>@valrus@aleph.land</pre>.</p>
            {% endblock colophon %}
        </div>
    </div>
</div>
{% endblock body %}
