{% extends 'longform-page.html' %}
{% set container = posts.container %}
{% set newer = container[:container.index(item)]|last|d() %}
{% set older = container[container.index(item) + 1]|d() %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ get_asset('css/blogpost.css') }}" />
{% endblock %}

{% block footer -%}
      <div id="adjposts">
        <div id="prevpost">{% if older %}←<a href="{{ get_url(older.url) }}">{{ older.title }}</a>{% endif %}</div><!--
     --><div id="nextpost">{% if newer %}<a href="{{ get_url(newer.url) }}">{{ newer.title }}</a>→{% endif %}</div>
      </div>
      {{ super() }}
{%- endblock %}

{% block returnlink %}
{{ get_url('/livingroom/') }}
{% endblock %}