{% extends 'post.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ get_asset('css/bytebox.css') }}" type="text/css" media="screen" />
<script src="{{ get_asset('js/bytebox.min.js') }}" type="text/javascript"></script>
<script src="{{ get_asset('js/mathjax/MathJax.js?config=default') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
{{ super() }}
<script type="text/javascript">bytebox.init();</script>
{% endblock %}

{% block colophon %}
{{ super() }}
<p>Images in this post are shown using a custom version of <a href="http://code.google.com/p/bytebox/">bytebox</a> modified to be even smaller.</p>
{% endblock %}
