{% extends 'base.html' %}

{% set rooms = [
  ('/study/', 'study', 'Study'),
  ('/studio/', 'studio', 'Studio'),
  ('/', 'index', 'Vestibule'),
  ('/livingroom/', 'livingroom', 'Living Room')
] -%}
{% set active_page = active_page|default('index') -%}

{% block head %}
{{ super() }}
<title>a small clever {% block title %}{% endblock %}</title>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{ get_asset('css/blueprint.css') }}" />
{% endblock head %}

{% block body %}
  <div id="first_container">
    <div id="second_container">
      <div id="third_container">

        <ul id="menu">
        {% for href, id, caption in rooms %}
          {% if id == active_page %}
          <li><span id="menuselected">{{ caption|e }}</span></li>
          {% else %}
          <li><a href="{{ get_url(href)|e }}">{{ caption|e }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>

        <div class="title">&nbsp;</div>

        <div class="border">
          <div class="content">
            {% block content %}
            {% endblock %}
          </div>
        </div>
<!--
        <ul id="submenu">
          <li><span id="submenuselected">English</span></li>
          <li><a href="">Dutch</a></li>
        </ul>
-->
        <div class="designinfo">
          Original design <a href="http://www.oswd.org/design/preview/id/3166">Vanero</a>
        </div>

      </div>
    </div>
  </div>
{% endblock body %}
