{% extends "room.html" %}
{% set active_page = "livingroom" %}

{% block title %}living room{% endblock %}

{% block content %}
<div class="text">
{% for year, archive in posts.archives.iteritems() %}
  <li class="archive-year">
    <hr />
    <h1>{{ year }}</h1>
    <dl>
    {% for month, posts in archive.months.iteritems() %}
      {% for post in posts %}
        <dt>{{ post.timestamp|date('%B %d') }}<br /><a href="{{ get_url(post.url) }}">{{ post.title }}</a></dt>
        <dd>{{ post.summary }}</dd>
      {% endfor %}
    {% endfor %}
    </dl>
  </li>
{% endfor %}
</div>
{% endblock %}
