{% extends "room.html" %}
{% set active_page = "livingroom" %}

{% block title %}living room{% endblock %}

{% block content %}
<div class="text">
{% for year, archive in posts.archives.iteritems() %}
  <li class="archive-year">
    <h1>{{ year }}</h1>
    <ul>
    {% for month, posts in archive.months.iteritems() %}
      {% for post in posts %}
        <li>{{ post.timestamp|date('%B %d') }} – <a href="{{ get_url(post.url) }}">{{ post.title }}</a> {{ post.summary }} </li>
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</div>
{% endblock %}
