{% extends 'room.html' %}
{% set active_page = "studio" %}

{% block title %}studio{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ get_asset('css/studio.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ get_asset('css/audio.css') }}" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="{{ get_asset('js/audiojs/audio.min.js') }}"></script>
<script>
  $(function() {
    // Get the css; remove newlines so we can include it inline
    // {css: '<!--#exec cmd="cat style/audio.css | tr -d '\n'"-->'}
    var a = audiojs.createAll({css: false});

    // Load in the first track
    var audio = a[0];
        first = $('ol a').attr('data-src');
    $('.music_play').first().parent().addClass('playing');
    audio.load(first);

    // Load in a track on click
    $('.music_play').click(function(e) {
      e.preventDefault();
      $('.music_play').parent().removeClass('playing');
      $(this).parent().addClass('playing');
      audio.load($(this).attr('data-src'));
      audio.play();
    });
    // Keyboard shortcuts
    $(document).keydown(function(e) {
      var unicode = e.charCode ? e.charCode : e.keyCode;
         // right arrow
      if (unicode == 39) {
        var next = $('li.playing').next();
        if (!next.length) next = $('ol li').first();
        next.click();
        // back arrow
      } else if (unicode == 37) {
        var prev = $('li.playing').prev();
        if (!prev.length) prev = $('ol li').last();
        prev.click();
        // spacebar
      } else if (unicode == 32) {
        audio.playPause();
      }
    })
  });
</script>
{% endblock head %}

{% set songs = [
  ("Newer Songs",
    [("Headphones", None),
     ("The Ballad of Nate Phelps", None),
     ("The Librarian", None),
     ("My Mouth", None),
     ("Open Doors", None),
     ("The Other Shoe", None),
     ("Tentacles - Just Not That Creepy", None)]),
  ("Older Songs",
    [("Chains of Gold/Seven Months", None),
     ("Dreams of the Ocean", None),
     ("Fucking Thermodynamics", None),
     ("If I Tell You", None),
     ("Rufous", None),
     ("The Semiotician's Breakup Song", None)]),
  ("Covers",
    [("We Want a Rock", "They Might Be Giants"),
     ("+1s", "Okkervil River"),
     ("Going to Georgia", "the Mountain Goats"),
     ("If You See Light", "the Mountain Goats")]
  )
] -%}

{% block content %}
<div class="playlist">
  <div id="wrapper">
    <audio preload></audio>
    {% for song_category, song_list in songs %}
      <h1>{{ song_category }}</h1>
      <ol>
      {% for song, artist in song_list %}
        <li><a href="#" class="music_play" data-src="{{ get_asset('music/%s.mp3')|format(song) }}">{{ song }}</a>
          {% if artist %}({{ artist }}){% endif -%}
          <span class="music_download"><a href="{{ get_asset('music/%s.mp3')|format(song)|urlencode }}">⬇</a></span></li>
      {% endfor %}
      </ol>
    {% endfor %}
  </div>
</div>
{% endblock %}
