{% extends 'room.html' %}
{% set active_page = "workshop" %}

{% block title %}workshop{% endblock %}

{% block content %}
<div class="text">
  <dl>
    <dt><a href="http://thehotvoice.mccowan.space/">I'll Do The Hot Voice!</a></dt>
    <dd>A Web app for creating <a href="http://undertale.com">Undertale</a> dialog boxes.</dd>
    <dt><a href="http://ian.mccowan.space/death-gripsum/">Death Gripsum</a></dt>
    <dd>A <a href="http://thirdworlds.net/">Death Grips</a> song lyric generator.</dd>
  </dl>
</div>
{% endblock %}
