<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13E28</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ForkLetStarter</string>
	<key>CFBundleIconFile</key>
	<string>ForkLetStarter</string>
	<key>CFBundleIdentifier</key>
	<string>com.binarynights.ForkLetStarter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5B1008</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13C64</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0511</string>
	<key>DTXcodeBuild</key>
	<string>5B1008</string>
	<key>ForkLiftPath</key>
	<string>/Applications/ForkLift.app</string>
	<key>ForkletSettings</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGrq9YJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK8QKAcIJSYnKCkqKywtLi8wMTJXWFlaW1xiY2pIb4GCg4mKkJiZnaOkqapVJG51
	bGzTCQoLDBgkV05TLmtleXNaTlMub2JqZWN0c1YkY2xhc3OrDQ4PEBESExQVFheAAoAD
	gASABYAGgAeACIAJgAqAC4AMqxkaGxwcGR8gHCIcgA2ADoAPgBmAGYANgBqAHoAZgB+A
	GYAXWEFkZEl0ZW1zWlRpbWVPZmZzZXReU291cmNlRmF2b3JpdGVdU3luY0ludmlzaWJs
	ZVtEZWxldGVJdGVtc1tTeW5jRm9sZGVyc15UYXJnZXRGYXZvcml0ZVpVcGRhdGVNb2Rl
	W1VwZGF0ZUl0ZW1zXkV4Y2x1ZGVGaWx0ZXJzXxATRGV0ZXJtaW5lVGltZU9mZnNldAkQ
	AN8QEzM0NTY3ODk6Ozw9Pj9AQUILQ0RFRkZIRkpLTE1ORkZRMUZGVFVGVHV1aWRdbGVm
	dEZhdm9yaXRlc1l2b2x1bWVVUkxbYXNrUGFzc3dvcmRXYmFzZVVybFh1c2VyRGF0YVRw
	YXRoVGhvc3RUdHlwZV5zdHJpbmdFbmNvZGluZ11rZXlFcXVpdmFsZW50WWxvY2FsUGF0
	aFh1c2VybmFtZV8QFWtleUVxdWl2YWxlbnRNb2RpZmllclN1cmxecmlnaHRGYXZvcml0
	ZXNUbmFtZVRwb3J0gBCAAIAACIAAgBWAFIASEMgQBIAAgACAE4AAgACAGIARgABfECQy
	NDMzNTA1Mi01NDYxLTRDQUUtQkFENC01QTgwQjI4M0YzMDlUU2l0ZV8QHHNzaC5waHgu
	bmVhcmx5ZnJlZXNwZWVjaC5uZXRfEBF2YWxydXNfaWFubWNjb3dhblwvaG9tZS9wdWJs
	aWPTCQoLXV8koV6AFqEZgA2AF1twYXNzaXZlTW9kZdJkZWZnWiRjbGFzc25hbWVYJGNs
	YXNzZXNfEBNOU011dGFibGVEaWN0aW9uYXJ5o2ZoaVxOU0RpY3Rpb25hcnlYTlNPYmpl
	Y3TSZGVrbFpCTkZhdm9yaXRlom1pWkJORmF2b3JpdGUI3xATMzQ1Njc4OTo7PD0+P0BB
	QgtDRHBGRkhGdXZGMXhGRkYxRkZURkaAG4AAgAAIgACAHYAcgAAQBYAAgACAAIAAgACA
	GIAAgABfECQ2NTk5Q0NFNy0xNTFFLTRCOUYtQUJFMi0wN0FGMjFGNkZDOEVfEBMvVXNl
	cnMvdmFscnVzL1NpdGVz0wkKC4SGJKFegBahGYANgBcQAtIKC4uPo4yNjoAggCOAJYAn
	1ZELkjuTlJVITjBaZXhwcmVzc2lvblVmaWxlc1dmb2xkZXJzgCGAIggJVF9zcmPSZGWa
	m1xCTlN5bmNGaWx0ZXKinGlcQk5TeW5jRmlsdGVy1ZELkjuTnpUwoUiAJIAiCRADCFQu
	dHh01ZELkjuTpZUwoUiAJoAiCQhULmljb9JkZausV05TQXJyYXmirWlXTlNBcnJheV8Q
	D05TS2V5ZWRBcmNoaXZlctGwsVRyb290gAEACAARABoAIwAtADIANwBiAGgAbwB3AIIA
	iQCVAJcAmQCbAJ0AnwChAKMApQCnAKkAqwC3ALkAuwC9AL8AwQDDAMUAxwDJAMsAzQDP
	ANgA4wDyAQABDAEYAScBMgE+AU0BYwFkAWYBjwGUAaIBrAG4AcAByQHOAdMB2AHnAfUB
	/wIIAiACJAIzAjgCPQI/AkECQwJEAkYCSAJKAkwCTgJQAlICVAJWAlgCWgJcAl4CYAKH
	AowCqwK/AswC0wLVAtcC2QLbAt0C6QLuAvkDAgMYAxwDKQMyAzcDQgNFA1ADUQN6A3wD
	fgOAA4EDgwOFA4cDiQOLA40DjwORA5MDlQOXA5kDmwPCA9gD3wPhA+MD5QPnA+kD6wPw
	A/QD9gP4A/oD/AQHBBIEGAQgBCIEJAQlBCYEKwQwBD0EQARNBFgEWgRcBF0EXwRgBGUE
	cARyBHQEdQR2BHsEgASIBIsEkwSlBKgErQAAAAAAAAIBAAAAAAAAALIAAAAAAAAAAAAA
	AAAAAASv
	</data>
	<key>ForkletType</key>
	<string>Synclet</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>ForkLetStarter</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
