<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13E28</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ForkLetStarter</string>
	<key>CFBundleIconFile</key>
	<string>ForkLetStarter</string>
	<key>CFBundleIdentifier</key>
	<string>com.binarynights.ForkLetStarter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5B1008</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13C64</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0511</string>
	<key>DTXcodeBuild</key>
	<string>5B1008</string>
	<key>ForkLiftPath</key>
	<string>/Applications/ForkLift.app</string>
	<key>ForkletSettings</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGr7BYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK8QKQcIJSYnKCkqKywtLi8wMTJWV1heX2ZIa35/gIGCg4mKi5GZmp6kpaqrVSRu
	dWxs0wkKCwwYJFdOUy5rZXlzWk5TLm9iamVjdHNWJGNsYXNzqw0ODxAREhMUFRYXgAKA
	A4AEgAWABoAHgAiACYAKgAuADKsZGhscHBkfIBkiHIANgA6AD4AWgBaADYAXgB+ADYAg
	gBaAFFhBZGRJdGVtc1pUaW1lT2Zmc2V0XlNvdXJjZUZhdm9yaXRlXVN5bmNJbnZpc2li
	bGVbRGVsZXRlSXRlbXNbU3luY0ZvbGRlcnNeVGFyZ2V0RmF2b3JpdGVaVXBkYXRlTW9k
	ZVtVcGRhdGVJdGVtc15FeGNsdWRlRmlsdGVyc18QE0RldGVybWluZVRpbWVPZmZzZXQJ
	EADfEBMzNDU2Nzg5Ojs8PT4/QEFCC0NERUZGSEZKS0YxTUZGRjFGRlNGRlR1dWlkXWxl
	ZnRGYXZvcml0ZXNZdm9sdW1lVVJMW2Fza1Bhc3N3b3JkV2Jhc2VVcmxYdXNlckRhdGFU
	cGF0aFRob3N0VHR5cGVec3RyaW5nRW5jb2Rpbmdda2V5RXF1aXZhbGVudFlsb2NhbFBh
	dGhYdXNlcm5hbWVfEBVrZXlFcXVpdmFsZW50TW9kaWZpZXJTdXJsXnJpZ2h0RmF2b3Jp
	dGVzVG5hbWVUcG9ydIAQgACAAAiAAIASgBGAABAFgACAAIAAgACAAIAVgACAAF8QJDY4
	QjY3Mzk2LTlEQzQtNDlERC1CRTBBLTRGRjYzQjUyQTczOF8QEy9Vc2Vycy92YWxydXMv
	U2l0ZXPTCQoLWVskoVqAE6EZgA2AFFtwYXNzaXZlTW9kZdJgYWJjWiRjbGFzc25hbWVY
	JGNsYXNzZXNfEBNOU011dGFibGVEaWN0aW9uYXJ5o2JkZVxOU0RpY3Rpb25hcnlYTlNP
	YmplY3TSYGFnaFpCTkZhdm9yaXRlomllWkJORmF2b3JpdGUI3xATMzQ1Njc4OTo7PD0+
	P0BBQgtDRGxGRkhGcXJzdHVGRngxRkZTfEaAGIAAgAAIgACAHYAcgBoQyBAEgACAAIAb
	gACAAIAVgBmAAF8QJDI1REE0Njk4LTA2NjEtNEJBQy1BQ0I1LTAzQUM2QTIwOUUzRVRT
	aXRlXxAcc3NoLnBoeC5uZWFybHlmcmVlc3BlZWNoLm5ldF8QEXZhbHJ1c19pYW5tY2Nv
	d2FuXC9ob21lL3B1YmxpY9MJCguEhiShhYAeoRmADYAUW3Bhc3NpdmVNb2RlEALSCguM
	kKONjo+AIYAkgCaAKNWSC5M7lJWWSHUwWmV4cHJlc3Npb25VZmlsZXNXZm9sZGVyc4Ai
	gCMICVRfc3Jj0mBhm5xcQk5TeW5jRmlsdGVyop1lXEJOU3luY0ZpbHRlctWSC5M7lJ+W
	MKJIgCWAIwkQAwhULnR4dNWSC5M7lKaWMKJIgCeAIwkIVC5pY2/SYGGsrVdOU0FycmF5
	oq5lV05TQXJyYXlfEA9OU0tleWVkQXJjaGl2ZXLRsbJUcm9vdIABAAgAEQAaACMALQAy
	ADcAYwBpAHAAeACDAIoAlgCYAJoAnACeAKAAogCkAKYAqACqAKwAuAC6ALwAvgDAAMIA
	xADGAMgAygDMAM4A0ADZAOQA8wEBAQ0BGQEoATMBPwFOAWQBZQFnAZABlQGjAa0BuQHB
	AcoBzwHUAdkB6AH2AgACCQIhAiUCNAI5Aj4CQAJCAkQCRQJHAkkCSwJNAk8CUQJTAlUC
	VwJZAlsCXQJfAoYCnAKjAqUCpwKpAqsCrQK5Ar4CyQLSAugC7AL5AwIDBwMSAxUDIAMh
	A0oDTANOA1ADUQNTA1UDVwNZA1sDXQNfA2EDYwNlA2cDaQNrA20DlAOZA7gDzAPZA+AD
	4gPkA+YD6APqA/YD+AP9BAEEAwQFBAcECQQUBB8EJQQtBC8EMQQyBDMEOAQ9BEoETQRa
	BGUEZwRpBGoEbARtBHIEfQR/BIEEggSDBIgEjQSVBJgEoASyBLUEugAAAAAAAAIBAAAA
	AAAAALMAAAAAAAAAAAAAAAAAAAS8
	</data>
	<key>ForkletType</key>
	<string>Synclet</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>ForkLetStarter</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
